<footer class="bg-main text-white py-5">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-auto">
                <a href="https://www.youtube.com/user/noyaschleien" target="_blank" class="text-white me-4 social-icon" aria-label="YouTube">
                    <i class="bi bi-youtube fs-3"></i>
                </a>
                <a href="https://www.facebook.com/noya.schleien" target="_blank" class="text-white me-4 social-icon" aria-label="Facebook">
                    <i class="bi bi-facebook fs-3"></i>
                </a>
                <a href="https://il.linkedin.com/in/noya-schleien-43090352" target="_blank" class="text-white me-4 social-icon" aria-label="LinkedIn">
                    <i class="bi bi-linkedin fs-3"></i>
                </a>
                <a href="https://he.wikipedia.org/wiki/%D7%A0%D7%95%D7%99%D7%94_%D7%A9%D7%9C%D7%99%D7%99%D7%9F" target="_blank" class="text-white social-icon" aria-label="Wikipedia">
                    <i class="bi bi-wikipedia fs-3"></i>
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <hr class="border-light opacity-25 mb-4 mx-auto w-50">
                <p class="small mb-0 opacity-75" i18n>
                    © {{currentYear }} by noyaschleien.com
                </p>
            </div>
        </div>
    </div>
</footer>
