.nav-link {
    color: white ;
}

.navbar{
    background-color: rgb(25, 54, 105);
    color: white;
    border-top: 2px;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: thin;
}
.nav-link.active{
    color: red;
}

.navbar-toggler-icon {
    background-image: none!important;
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 10px 0;
    position: relative;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }

  .navbar-toggler-icon::before {
    display: block;
    background-color: white;
    height: 3px;
    content: "";
    position: relative;
    top: -7px;
    transition: all 0.15s ease-out;/*taken down to hide quicker*/
    transform-origin: center;
  }

  .navbar-toggler-icon::after {
    display: block;
    background-color:white;
    height: 3px;
    content: "";
    position: relative;
    top: 4px;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }

  .navbar-dark .navbar-toggler-icon,
  .navbar-dark .navbar-toggler-icon::before,
  .navbar-dark .navbar-toggler-icon::after {
    background-color: white;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    transform: rotate(45deg);
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    opacity: 0;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: rotate(-90deg) translateX(7px);
  }

  /* filepath: src/styles.scss */
ul {
  padding-inline-start: 0;
}