.nav-link {
    color: white ;
    position: relative;
    transition: color 0.3s ease, transform 0.1s ease;
}

.navbar{
    background-color: rgb(25, 54, 105);
    color: white;
    border-top: 2px;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: thin;
}
.nav-link.active{
    color: #4db5ff;
}

.nav-link:active {
    transform: scale(0.95);
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 5px; /* Adjusts position from bottom edge */
    left: 50%;
    background-color: #4db5ff;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.navbar-toggler-icon {
    background-image: none!important;
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 10px 0;
    position: relative;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }

  .navbar-toggler-icon::before {
    display: block;
    background-color: white;
    height: 3px;
    content: "";
    position: relative;
    top: -7px;
    transition: all 0.15s ease-out;/*taken down to hide quicker*/
    transform-origin: center;
  }

  .navbar-toggler-icon::after {
    display: block;
    background-color:white;
    height: 3px;
    content: "";
    position: relative;
    top: 4px;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }

  .navbar-dark .navbar-toggler-icon,
  .navbar-dark .navbar-toggler-icon::before,
  .navbar-dark .navbar-toggler-icon::after {
    background-color: white;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    transform: rotate(45deg);
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    opacity: 0;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: rotate(-90deg) translateX(7px);
  }

  /* filepath: src/styles.scss */
ul {
  padding-inline-start: 0;
}