<app-concerts-intro
    imageSrc="https://static.wixstatic.com/media/6ddb5b_3e60beb5d85640a1bf63739db7bca082~mv2.jpg/v1/fill/w_563,h_299,fp_0.50_0.50,q_80,enc_avif,quality_auto/6ddb5b_3e60beb5d85640a1bf63739db7bca082~mv2.jpg"
    imageAlt="Percussion instruments">
    <h2 class="text-primary" style="font-family: serif; font-style: italic; font-size: 2.5rem;" i18n>Workshops</h2>
    <p i18n>
        Cool rhythmic workshops with multiple percussion.
        <br>
        Suitable for all ages.
        <br>
        No prior knowledge is needed.
    </p>
    <p i18n>
        You are welcome to order a private or a couples workshop.
    </p>
</app-concerts-intro>

<app-concert-card
    imageSrc="https://static.wixstatic.com/media/6ddb5b_b6770ce2ecf743a1b46bf5497488d787~mv2.jpg/v1/fill/w_368,h_592,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/pic4.jpg"
    imageAlt="Noya teaching percussion workshop"
    [isReversed]="false">
    <h2 i18n>An Introduction to Percussion Workshop</h2>
    <p i18n>A private workshop with the international percussionist Noya Schleien.
    </p>
    <p i18n>An empowering and enriching experience!</p>
    <p i18n>
        Suitable from age 5 to 120.

        <br>
        No prior knowledge is required.

        <br>
        The studio is located in North Tel Aviv.

        <br>
        The workshop can be held in Hebrew or English.

        <br>
        The workshop can be held in Hebrew or English.
    </p>
    <p class="mt-4">
        For more details and to book the workshop:<br>
        WhatsApp: +972544715150<br>
        Email: noyaschleien&#64;gmail.com
    </p>
</app-concert-card>

<app-concert-card
    imageSrc="https://static.wixstatic.com/media/6ddb5b_602f080938aa498fb1c5832039d78103~mv2.jpg/v1/crop/x_23,y_16,w_452,h_727/fill/w_368,h_592,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/pic1_edited.jpg"
    imageAlt="Noya with percussion instruments"
    [isReversed]="true">
    <h2 i18n>A Morning of Rhythm</h2>
    <h3 i18n>A Couples Workshop + a delicious Brunch!

    </h3>
    <p i18n>
        An Introduction to Percussion Workshop with the international
        percussionist Noya Schleien.
    </p>
    <p i18n>
        And also, a brunch with tasty food from the best places in Tel Aviv.
        <br>
        The workshop is suitable for couples, friends, parents and children, any two people who want to spend
        quality time together doing a cool and rhythmic activity.

        <br>
        The workshop is suitable for ages 5 to 120.

        <br>
        No prior knowledge is required.

        <br>
        The studio is located in North Tel Aviv.
        <br>
        The workshop can be held in Hebrew or English.



    </p>

    <p class="mt-4" i18n>
        For more details and to book the workshop:<br>
        WhatsApp: +972544715150<br>
        Email: noyaschleien&#64;gmail.com
    </p>
</app-concert-card>
