.header-menu{
  background-color:   rgb(25, 54, 105);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.content {
  flex: 1; /* Takes up all available space, pushing footer down */
}
