<div class="row  align-items-center concert-card p-4 p-lg-5 text-white">
        <!-- Image column -->
        <div class="col-12 col-lg-6" 
             [ngClass]="{'order-lg-2': isReversed, 'order-lg-1': !isReversed}">
            <div class="image-container">
                <img class="card-image" [src]="imageSrc" [alt]="imageAlt">
            </div>
        </div>
        
        <!-- Text column -->
        <div class="col-12 col-lg-6"
             [ngClass]="{'order-lg-1': isReversed, 'order-lg-2': !isReversed}">
            <div class="content-wrapper text-center text-lg-start">
                <ng-content></ng-content>
            </div>
        </div>
</div>
