<app-concerts-intro
    imageSrc="https://static.wixstatic.com/media/6ddb5b_3729f64cce674e4a8cc1d2cf6ffaee94~mv2.jpg/v1/fill/w_880,h_396,fp_0.77_0.44,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/6ddb5b_3729f64cce674e4a8cc1d2cf6ffaee94~mv2.jpg"
    imageAlt="Noya giving a lecture at a podium">
    <h2 class="text-primary" style="font-family: serif; font-style: italic; font-size: 2.5rem;" i18n>Lectures</h2>
    <p i18n>
        Fascinating lectures.
    </p>
    <p i18n>
        You are welcome to order a single lecture or a whole series.
    </p>
</app-concerts-intro>

<app-concert-card
    imageSrc="https://static.wixstatic.com/media/6ddb5b_4e7a613967754a25b7deb6115e37d9b6~mv2.jpg/v1/fill/w_258,h_291,al_c,lg_1,q_80,enc_avif,quality_auto/Noya%20Schleien%20Life's%20Rhythm.jpg"
    imageAlt="Heartbeat rhythm transforming into musical note"
    [isReversed]="false">
    <h2 i18n>Life's Rhythm</h2>
    <p i18n>
        Rhythm has such a huge impact on music. What kind of impact does it have on our lives?
    </p>
    <p i18n>
        Our health, relationships, diet, learning abilities, communication and business, all influenced by
        rhythm.
    </p>
    <p i18n>
        Once we realize the huge impact rhythm has on our lives, we can use it for our benefit.
    </p>
    <p i18n>
        A riveting lecture intertwined with musical demonstrations.
    </p>
    <p i18n>
        Available as a single lecture or as a series of lectures.
    </p>
</app-concert-card>

<app-concert-card
    imageSrc="https://static.wixstatic.com/media/6ddb5b_a1d78a357e9e463e8a0ddf697539db05~mv2.png/v1/crop/x_583,y_0,w_955,h_1080/fill/w_414,h_468,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Noya%20Schleien%20Arts%20and%20Business.png"
    imageAlt="Noya smiling with percussion instruments in background"
    [isReversed]="true">
    <h2 i18n>Arts & Business</h2>
    <p i18n>
        Even the most talented artist has to spend a lot of time doing business.
    </p>
    <p i18n>
        Most artists try to avoid this, which causes them to lose opportunities, growth and money.
    </p>
    <p i18n>
        This lecture reveals classic business models, focusing on economics, strategy, and marketing, with the
        adaptation needed for the art world.
    </p>
    <p i18n>
        Possible as a onetime lecture, just to get the taste of things, or as an in-depth course.
    </p>
</app-concert-card>

<app-concert-card
    imageSrc="https://static.wixstatic.com/media/6ddb5b_4bce4a17cd1049b4b86817dc7a783e1d~mv2.jpg/v1/fill/w_414,h_468,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Noya%20Schleien%20Percussion.jpg"
    imageAlt="Noya playing marimba instrument"
    [isReversed]="false">
    <h2 i18n>Percussion</h2>
    <p i18n>
        A fascinating lecture on Percussion Instruments.
    </p>
    <p i18n>
        Delivered by the international percussionist Noya Schleien, who combines musical pieces in her lecture.
    </p>
</app-concert-card>

<app-concert-card
    imageSrc="https://static.wixstatic.com/media/6ddb5b_4d5ebadedc764f1aa2615c690933c8ac~mv2.png/v1/fill/w_484,h_463,al_c,lg_1,q_85,enc_avif,quality_auto/Noya%20Schleien%20How%20to%20Count_.png"
    imageAlt="Noya playing marimba instrument"
    [isReversed]="true">
    <h2 i18n>How do you count this?</h2>
    <p i18n>
A lecture combined with a practical workshop on rhythm, where participants learn how to feel, identify, count, and write rhythm in music and dance.
It is mainly suitable for composers, musicians, choreographers, and dancers, as well as anyone who needs to work with rhythm but doesn’t know how.
    </p>
</app-concert-card>

<noya-radio [track]="currentTrack"></noya-radio>


<app-review-image
    src="https://static.wixstatic.com/media/6ddb5b_c95fcd3035cc4066af0927392ad8ac81~mv2.png/v1/fill/w_560,h_695,al_c,q_90,enc_avif,quality_auto/Noya%20Schleien%20Lecture%20Review.png"
    alt="Lectures Image">
</app-review-image>

<app-review-image
    src="https://static.wixstatic.com/media/6ddb5b_56d4cd4af6f441a78f0001100f173d4f~mv2.png/v1/fill/w_557,h_720,al_c,lg_1,q_90,enc_avif,quality_auto/%D7%A1%D7%9E%D7%99%D7%A0%D7%A8%20%D7%94%D7%A7%D7%99%D7%91%D7%95%D7%A6%D7%99%D7%9D%201.png"
    alt="Lectures Image">
</app-review-image>

<noya-students-review></noya-students-review>

