<div class="row mt-4 flex-column-reverse flex-lg-row">
    <div class="col-lg-3 card-image-col">
        <img src="https://static.wixstatic.com/media/6ddb5b_5ea97b1b89db484e9eb4e66e90a062e9~mv2.jpg/v1/fill/w_407,h_600,fp_0.48_0.25,q_80,enc_avif,quality_auto/6ddb5b_5ea97b1b89db484e9eb4e66e90a062e9~mv2.jpg"
            alt="Concerts Image">
    </div>

    <div class="col-lg-3 card-text-col">
        <h2 i18n>Concerts</h2>
        <p i18n>
            Rhythmic concerts with multiple percussion.
            Suitable for all ages.
        </p>
        <p i18n>
            Order a unique concert designed personally for your event.
        </p>
        <a routerLink="/concerts" i18n>Read More</a>
    </div>

    <div class="col-lg-3 card-image-col">
        <img src="https://static.wixstatic.com/media/6ddb5b_3729f64cce674e4a8cc1d2cf6ffaee94~mv2.jpg/v1/fill/w_510,h_751,fp_0.77_0.44,q_85,enc_avif,quality_auto/6ddb5b_3729f64cce674e4a8cc1d2cf6ffaee94~mv2.jpg"
            alt="Lectures Image">
    </div>
    <div class="col-lg-3 card-text-col">
        <h2 i18n>Lectures</h2>
        <p i18n class="mb-2">
            Fascinating lectures:
        </p>
        <!-- Using div instead of p removes the default bottom margin -->
        <div i18n>
            Life's Rhythm
        </div>
        <div i18n>
            Arts & Business 
        </div>
        <div i18n>
            Percussion
        </div>
        <div i18n>
            How to count this?
        </div>
        <p i18n class="mt-3">
            It is possible to order a single lecture or a series of lectures.
        </p>
        <a routerLink="/lectures" i18n>Read More</a>
    </div>
</div>



<div class="row">
    <div class="col-lg-3 card-text-col">
        <h2 i18n>Workshops</h2>
        <p i18n>
            Cool rhythmic workshops with multiple percussion.
        </p>
        <p i18n>Suitable for all ages.</p>
        
        <p i18n>
            No prior knowledge is needed.
        </p>
        <a routerLink="/workshops" i18n>Read More</a>
    </div>
    <div class="col-lg-3 card-image-col">
        <img src="https://static.wixstatic.com/media/6ddb5b_3e60beb5d85640a1bf63739db7bca082~mv2.jpg/v1/fill/w_563,h_830,fp_0.57_0.23,q_85,enc_avif,quality_auto/6ddb5b_3e60beb5d85640a1bf63739db7bca082~mv2.jpg"
            alt="Workshops Image">
    </div>
    <div class="col-lg-3 card-text-col">
        <h2 i18n>Book</h2>
        <p i18n>
            Drum's House by Noya Schleien -
        </p>
        <p i18n>
            Come meet Drum, a little Tom-tom who invites you into his home to meet his whole family.
            His mom is a Xylophone and his dad is a Snare Drum and that is just the beginning.
        </p>
        <a routerLink="/book" i18n>Read More</a>
    </div>
    <div class="col-lg-3 card-image-col">
        <img src="https://static.wixstatic.com/media/6ddb5b_3ff0e3a53c354f92ba660eeb7c4ed0cd~mv2.jpg/v1/fill/w_407,h_600,fp_0.48_0.25,q_80,enc_avif,quality_auto/6ddb5b_3ff0e3a53c354f92ba660eeb7c4ed0cd~mv2.jpg"
            alt="Book Image">
    </div>
</div>