<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Root Redirect" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/en-US/" redirectType="Found" />
        </rule>
        <!-- English Routes Rule -->
        <rule name="English Routes" stopProcessing="true">
          <match url="en-US/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/en-US/index.html" />
        </rule>
        <!-- Add this Hebrew Routes Rule -->
        <rule name="Hebrew Routes" stopProcessing="true">
          <match url="he/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/he/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="G:\PleskVhosts\noyaschleien.com\tmp" />
  </system.web>
</configuration>