<div class="row mb-4">
    <div class="col text-center">
          <img class="img-fluid" 
                src="https://static.wixstatic.com/media/6ddb5b_0bdfabf5d82143e9b05f59341eacd8f3~mv2.png/v1/crop/x_307,y_0,w_1538,h_1080/fill/w_846,h_594,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/16.png" 
                alt="The Little Beat Beat - Noya Schleien performing percussion for children">
 
    </div>
</div>

<div class="row mb-4">
        <div class="col-12 text-center mb-4">            <h1 class="display-4 mb-4" i18n>All About Noya Schleien</h1>
            <h3 class="text-muted" i18n>Marimba & Percussion Artist, Lecturer, Author</h3>
        </div>
    </div>

    <div class="row mb-5 text-center">
        <div class="col-12">            <h2 class=" pb-2 mb-4" i18n>Experience</h2>
            
            <p i18n>Creator, Soloist and Host of numerous shows, including shows in renowned festivals, Israel's national culture program, concerts with orchestras, dancers, theatre shows, and recitals recorded for the radio.</p>
            
            <p i18n>In her performance, Ms. Schleien combines music and dance in a unique way.</p>
            
            <p i18n>Performed in all major concert halls all over Europe, China, Korea and Argentina.</p>
            
            <div class="my-4"></div>
              <p i18n>In 2022, published her first book, Drum's House. An imaginative children's book, written in rhymes, about Percussion.</p>
            
            <p i18n>Created the most comprehensive series of videos made in Hebrew, on percussion instruments.</p>
            
            <p i18n>Founded the ensemble Kelim Shluvim (Communicating Vessels). A unique female ensemble of Flute, Cello and Marimba & Percussion.</p>
            
            <p i18n>Begun lecturing on the topics Life's Rhythm, Arts & Business, and Percussion.</p>
            
            <div class="my-4"></div>
              <p i18n>In the years 2010-2015, was a member of The West-Eastern Divan Orchestra, conducted by Maestro Daniel Barenboim.</p>
            
            <p i18n>During 2013, Ms. Schleien performed as a soloist with Maestro Barenboim and the orchestra, at the main Festivals in Lucerne, Salzburg and Stuttgart.</p>
            
            <p i18n>Ms. Schleien played chamber music with different ensembles from this orchestra in important international festivals, such as The Proms in London and the Louvre museum in Paris.</p>
            
            <div class="my-4"></div>
              <p i18n>During 2010-2011, Ms. Schleien played in a chamber ensemble with members of The Staatsoper Berlin, conducted by Maestro Daniel Barenboim, playing Dérive 2, by Pierre Boulez.</p>
            
            <p i18n>The concerts were held in the main concert halls in Berlin - Schiller Theater, Konzerthous Berlin and Berliner Philharmonie.</p>
            
            <div class="my-4"></div>
              <p i18n>Between 2009-2014, Ms. Schleien participated in the International Chamber Music Festival, held in Jerusalem, by Elena Bashkirova.</p>
            
            <div class="my-4"></div>
            
            <p i18n>In 2009, had a solo performance at Mann Auditorium, in the Annual Gala Concert of The Israel Philharmonic Orchestra and The Buchmann-Mehta Symphony Orchestra, conducted by Maestro Zubin Mehta.</p>
            
            <div class="my-4"></div>
            
            <p i18n>In the years 2008-2009, Ms. Schleien has participated in the Beit Lessin theater show "Equss" and performed in the TV show, Intermezzo with Arie Vardi, episode "She is all rhythm".</p>
        </div>
    </div>

    <div class="row mb-5 text-center">
        <div class="col-12">            <h2 class=" pb-2 mb-4" i18n>Prizes</h2>
            
            <p i18n>In 2008, won the First Prize at the Paul Ben-Haim competition, for playing Israeli music.</p>
            
            <div class="my-3"></div>
            
            <p i18n>In 2006-2008, won several competitions, at the Buchmann-Mehta School of Music. Including first prizes for Solo Performance Competition 2006, Chamber Music Competition 2007 and Contemporary Music Competition 2008.</p>
            
            <div class="my-3"></div>
            
            <p i18n>In 2008, she was awarded for Excellence in the orchestral training program of the Buchmann-Mehta Symphony Orchestra.</p>
        </div>
    </div>

    <div class="row mb-5 text-center">
        <div class="col-12">            <h2 class=" pb-2 mb-4" i18n>Education</h2>
            
            <p i18n>Has a MBA from Tel Aviv University, Magna Cum Laude. Dean's List 2012-2013.</p>
            
            <p i18n>Has a BA in Music and Management from Tel Aviv University, Magna Cum Laude.</p>
            
            <div class="my-4"></div>
              <p i18n>Began her musical studies with Mrs. Hagit Ser. In 2002, graduated with honors from the Tel-Aviv-Jaffa Music Conservatory. During the years 2004-2008, studied at the Buchmann-Mehta School of Music in Tel-Aviv University, with Mr. Alon Bor, principal percussionist of The Israel Philharmonic Orchestra. Later on, she studied at the Conservatoire de Strasbourg with Prof. Emmanuel Sejourne and with Prof. Dominic Oelze, principal percussionist at the Staatskapelle Berlin.</p>
            
            <div class="my-4"></div>
            
            <p i18n>In the years 2002-2004, was drafted to the I.D.F. Orchestra, where she performed all across Israel as well as abroad for two years.</p>
            
            <div class="my-4"></div>
            
            <p i18n>Ms. Schleien has participated in international Marimba and Percussion master classes with the Prof. Keiko Abe, Peter Sadlo, Bogdan Bacanu, Momoko Kamiya, Ludwig Albert, and in a Carnegie Hall work shop with Zakir Hussain.</p>
        </div>
    </div>

    <div class="row mb-5 text-center">
        <div class="col-12">
            <h2 class=" pb-2 mb-4" i18n>Scholarships</h2>
            
            <p i18n>Recipient of the Rabinowitz Foundation Scholarships in the years 2017-2018.</p>
            
            <div class="my-3"></div>
            
            <p i18n>Recipient of the American-Israel Culture Foundation Scholarships in the years 2006-2010.</p>
        </div>
    </div>
